body {
  background-image: url('/public/bg.jpg'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center; 
  height: 100vh; 
  margin: 0; 
  display: flex;
  justify-content: center;
  text-align: center;
  color:azure;
  font-size: x-large;
}

.inp input {
  padding: 10px;
  font-size: larger;
  font-family: italic;
  border-radius: 8px;
  color: black;
  border-color: solid rgb(0, 0, 0);
 
}

#search{
  background-color: rgba(137, 173, 204, 0.645);
  padding: 10px;
  text-align: center;
  margin-left: 10px;
  font-style: italic;
  color: rgb(0, 0, 0);
  width:6%;
}